.logo-area{
    border:2px solid;
    height: 100px;
}
.desc{
    padding-top: 20px;
}
.panel-body{
    height: 400px;
    background-color: #f9f9fc;
    padding-top: 10px;
}
.img-section img{
    height: 200px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.upload-button{
   text-align: center;
   padding: 30px;
}
.footer{
    padding-top: 20px;
    color:#999999;
}
#my_centered_buttons { 
    display: flex; justify-content: center; 
}