/* ==============
  Menu
===================*/

.topbar {
  position: fixed;
  left: 240px;
  right: 0;
  top: 0;
  z-index: 999;
}

.logo{
  color: $white !important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 80px;
  text-transform: uppercase;
}

.navbar-custom {
  background-color: $white;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 2px 3px -2px rgba(0, 0, 0, 0.15);

  .dropdown.show {
    .nav-link {
      background-color: $light3;
    }
  }
  .language-switch a img {
    float: right;
    margin-top: 5px;
  }
}

/* Notification */
.notification-list {
  margin-left: 0;

  .noti-title {
    border-radius: 0.25rem 0.25rem 0 0;
    margin: -4px 0px 0px 0px;
    width: auto;
    padding: 12px 20px;

    h5 {
      margin: 0;
      font-size: 14px;
      text-transform: uppercase;
    }

    .label {
      float: right;
    }
  }

  .noti-icon {
    font-size: 28px;
    vertical-align: middle;
    color: $muted;
  }
  .noti-icon-badge {
    display: inline-block;
    position: absolute;
    top: 9px;
    right: 3px;
    border: 3px solid rgba($white, 0.6);
    border-radius: 50%;
    width: 24px;
    height: 24px;
  }
  .notify-item {
    padding: 10px 20px;

    .notify-icon {
      float: left;
      height: 36px;
      width: 36px;
      line-height: 36px;
      text-align: center;
      margin-right: 10px;
      border-radius: 50%;
      color: $white;

      img {
        margin-top: 4px;
      }
    }
    .notify-details {
      margin-bottom: 0;
      overflow: hidden;
      margin-left: 45px;
      text-overflow: ellipsis;
      white-space: nowrap;
      b {
        font-weight: 500;
      }
      small {
        display: block;
        white-space: normal;
      }
      span {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 13px;
      }
    }
  }
  .notify-all {
    border-radius: 0 0 0.25rem 0.25rem;
    margin: 0 0 -5px 0;
    background-color: $light;
  }
  .profile-dropdown {
    .notify-item {
      padding: 4px 20px;
    }
  }
  .nav-link {
    padding: 0 12px;
    line-height: 70px;
  }
}

.profile-dropdown {
  width: 170px;
  i {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.nav-user {
  margin-right: 10px;
  img {
    height:36px;
    width: 36px;
  }
}

.arrow-none:after {
  border: none;
  margin: 0;
  display: none;
}

.menu-title {
  padding: 12px 25px !important;
  letter-spacing: .035em;
  pointer-events: none;
  cursor: default;
  font-size: 13px;
  color: rgba($white,0.5);
  margin-top: 10px !important;
}

.profile {
  padding: 17px 15px;

  img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
    float: left;
  }

  .profile-username {
    margin-left: 45px;
    display: block;
    line-height: 36px;
  }
}

.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  background: $left-bar-gradient;
  box-shadow: 1px 0 14px 0 rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 99;

  .waves-ripple {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .topbar-left {
    padding-left: 30px;
  }
}


body.fixed-left {
  .side-menu.left {
    bottom: 50px;
    height: $height;
    margin-bottom: -70px;
    margin-top: 0;
    padding-bottom: 70px;
    position: fixed;
  }
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page > .content {
  margin-bottom: 60px;
  padding: 20px 30px 5px 30px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.page-content-wrapper {
  margin: 0 -10px;
  padding-top: 80px;
}

.button-menu-mobile{
  background-color: $white;
  font-size: 28px;
  width: 42px;
  border-radius: 3px;
  border: none;
  line-height: 70px;
  display: none !important;
}

.sidebar-inner {
  height: $height;
}


.search-wrap {
  background-color: $white;
  color: $dark;
  z-index: 9997;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  height: 70px;
  padding: 0 15px;
  transform: translate3d(0, -100%, 0);
  transition: .3s;

  form {
    display: flex;
    width: 100%;
  }
  .search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .search-input {
    flex: 1 1;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
  }
  .close-search {
    width: 36px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    color: inherit;
    font-size: 24px;

    &:hover {
      color: $danger;
    }
  }
}

.search-wrap.open {
  transform: translate3d(0, 0, 0);
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

.navbar-nav>li>a.notification-icon-box {
  line-height: 70px;

  i {
    font-size: 26px;
    vertical-align: middle;
  }
}

#sidebar-menu {
  padding-bottom: 50px;
  width: 100%;

  ul {
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: rgba($white,0.8);
        }
      }
      a {
        color: rgba($white,0.5);
        display: block;
        padding: 12px 20px 12px 55px;
        font-size: 14px;

        &:hover {
          color: rgba($white,0.8);
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 75px;
        }
      }
    }
  }
}

#sidebar-menu > ul > li > a {
  color: rgba($white,0.5);
  display: block;
  padding: 14px 20px;
  font-size: 16px;

  &:hover {
    color: rgba($white,0.8);
    text-decoration: none;
  }

  span {
    i {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.has_sub.nav-active i.mdi-chevron-right:before {
  content: "\F140";
}

#sidebar-menu > ul > li.nav-active > a {
  background-color: rgba($dark,0.1);
  color: rgba($white,0.8);
}
#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu > ul > li > a > i {
  display: inline-block;
  line-height: 17px;
  margin-left: 3px;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}

#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

#sidebar-menu > ul > li > a.active {
  color: rgba($white,0.8);

  i {
    color: rgba($white,0.8);
  }
}

#sidebar-menu > ul > li.nav-active > ul {
  display: block;
}


#wrapper.enlarged {

  .left.side-menu {
    padding-top: 0;
    z-index: 5;
    margin-left: -100%;
  }
  .content-page {
    margin-left: 0;
  }
}

#wrapper.enlarged .footer {
    left: 0;
}

.user-details {
  min-height: 80px;
  padding: 20px;
  position: relative;
  color: rgba($white,0.8);

  img {
    position: relative;
    z-index: 9999;
    height: 64px;
    width: 64px;
  }
  .user-info {
    text-align: center;

    .user-status {
      display: inline-block;
      padding: 3px 10px;
      border: 1px solid rgba($white,0.8);
      border-radius: 20px;
      font-size: 12px;
    }
  }
}

.page-title {
  margin: 0;
  line-height: 70px;
  padding-left: 15px;
  font-size: 20px;
}


.header-bg {
  background: $light fixed;
  padding-bottom: 60px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  margin: -40px -20px;
}
